/* --------------- Global  --------------- */
body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/* --------------- Main container --------------- */


/*--------------- login box --------------- */
.box-area{
    width: 930px;
}



/* --------------- left box ---------------*/
.featured-img img{
    width: 200px;
}





/*--------------- right box --------------- */









@media only screen and (max-width: 768px) {
    .header-text{
        text-align: center;
        margin-top: 3rem;
    }
}